<header>
  <div class="heading-logo">
    <a href="">
      <img class="img-fluid" src="./assets/L.png" alt="Logo" />

    </a>
  </div>
  <div class="heading-right">
    <div class="heading-social-links">
      <a href="">
        <img class="fluid" src="./assets/linkedin.png" alt="LinkedIn" />
      </a>
      <a href="">
        <img class="fluid" src="./assets/github.png" alt="GitHub" />
      </a>
    </div>
    <div class="heading-navigation">
      <button>
        <img src="./assets/menu.png" alt="">

      </button>
    </div>
  </div>

</header>