{
  "htmlWhitespaceSensitivity": "strict",
  "vueIndentScriptAndStyle": true,
  "embeddedLanguageFormatting": "auto",
  "printWidth": 80,
  "singleQuote": true,
  "semi": false,
  "trailingComma": "all",
  "tabWidth": 2
}
