<div class="developer-info">
  <div class="left">
    <div class="image-container">
      <img class="avatar" src="./assets/leonardo2.png" alt="" />
      <img class="blur" src="./assets/blur-about.png" alt="">
    </div>

  </div>
  <div class="info">
    <h2>Sobre mim</h2>
    <p>Olá! Meu nome é Leonardo e sou um desenvolvedor Full Stack. Atualmente, estou em busca de aprimoramento para
      alcançar o que o mercado classifica como Software Engineer. Considero difícil se definir, pois acredito que
      estamos em constante mudança. Prefiro continuar aprendendo, me desafiando e realizando projetos interessantes.</p>
  </div>
</div>