<div
  class="developer-info"
  data-scroll
  data-scroll-offset="10%, 10%"
  data-scroll-class="c-scroll-opacity"
>
  <div class="left" data-scroll>
    <div class="image-container">
      <img class="avatar" src="./assets/leonardo2.png" alt="" />
      <img class="blur" src="./assets/blur-about.png" alt="" />
    </div>
  </div>
  <div class="info" data-scroll data-scroll-speed="0.1">
    <h2>Sobre mim</h2>
    <p
      >Olá! Meu nome é Leonardo e sou um desenvolvedor Full Stack. Atualmente,
      estou em busca de aprimoramento para alcançar o que o mercado classifica
      como Software Engineer. Considero difícil se definir, pois acredito que
      estamos em constante mudança. Prefiro continuar aprendendo, me desafiando
      e realizando projetos interessantes.</p
    >
  </div>
</div>
