$white: #ffffff;
$black: #000000;
$purple-100: #251c31;
$purple-400: #682abf;
$purple-700: #9857d3;
$light-purple: #ccd6f6;
$dark-purple-100: #251c31;
$dark-purple-200: #231734;
$dark-purple-400: #11071f;
$light-grey: #f2f2f2;
