<div class="tech">
  <h2>Tecnologia e Ferramentas</h2>

  <div class="category">
    @for (categoryGroup of filteredListByCategory ; track 'category-' +
    categoryGroup){

    <section>
      <h3>{{categoryGroup[0].category | capitalizeFirstLetter}}</h3>

      <div class="technology-list">
        @for (technology of categoryGroup ; track technology.name){
        <app-technology [technology]="technology"></app-technology>
        }
      </div>
    </section>
    }
  </div>
  <footer>
    <button class="btn show-more" (click)="toggleRelevanceFilter()">
      <span>{{showRelevantOnly ? 'Mostrar tudo' : 'Mostra menos'}}</span>
      <img [ngClass]="showRelevantOnly ? 'rotate-90' : 'rotate-270'" src="" alt=">">
    </button>
  </footer>

</div>