<div
  class="tech"
  data-scroll
  data-scroll-offset="10%, 10%"
  data-scroll
  data-scroll-class="c-scroll-opacity"
>
  <h2>Tecnologia e Ferramentas</h2>

  <div class="category">
    @for (categoryGroup of filteredListByCategory() ; track 'category-' +
    categoryGroup){

    <section data-scroll>
      <h3>{{ categoryGroup[0].category | capitalizeFirstLetter }}</h3>

      <div class="technology-list">
        @for (technology of categoryGroup ; track technology.name){
        <app-technology [technology]="technology"></app-technology>
        }
      </div>
    </section>
    }
  </div>
  <footer data-scroll>
    <button class="btn show-more" (click)="toggleRelevanceFilter()">
      <span>{{ showRelevantOnly() ? 'Mostrar tudo' : 'Mostra menos' }}</span>
      <img
        loading="lazy"
        [class]="{ 'rotate-180': !showRelevantOnly() }"
        width="20"
        src="assets/arrow.png"
        alt=">"
      />
    </button>
  </footer>
</div>
