@import '../../styles/colors.scss';
@import '../../styles/font.scss';

.project-item {
  display: grid;
  grid-template-columns: repeat(39, 1fr);

  .project-content {
    z-index: 1;
    grid-area: 1 / 2 / -1 / 20;

    header {
      margin: 0 6% 0 0;
      span {
        font-size: $fs-550;
        font-weight: $fw-600;
        color: $purple-700;
      }

      h3 {
        font-size: $fs-750;
        font-weight: $fw-600;
        color: $light-purple;
      }
    }

    article {
      margin-top: 1.5rem;
      padding: 1.5rem 3.15rem 1.5rem 2rem;
      background-color: $dark-purple-200;
      border-radius: 0.875rem;
      color: $light-purple;
    }

    .techs {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      margin-top: 0.75rem;
      .dark {
        filter: invert(100%);
      }
      img {
        filter: grayscale(100%) contrast(100%);
        &:hover {
          filter: none;
        }
      }
    }

    footer {
      display: flex;
      align-items: flex-end;
      gap: 1rem;
      margin-top: 1.25rem;
    }
  }

  .project-image {
    position: relative;
    grid-area: 1 / 19 / -1 / -1;

    .image-container {
      position: relative;
      img {
        width: 100%;
      }

      .background-blur {
        position: absolute;
        width: 100%;
        height: 100%;
        inset: 0;
        z-index: -1;
        box-shadow: 0 0 0px 4px rgba(118, 60, 172, 1);

        filter: blur(30px);
        animation: blurAnimation 3s infinite alternate ease-in-out;
      }

      @keyframes blurAnimation {
        0% {
          filter: blur(24px);
        }
        100% {
          filter: blur(36px);
        }
      }
    }
  }
}

.odd {
  header {
    margin: 0 0 0 6% !important;

    text-align: end;
  }
  .project-content {
    grid-area: 1 / 21 / -1 / 39;
  }

  .project-image {
    grid-area: 1 / 1 / -1 / 22;
  }

  .techs {
    justify-content: flex-end;
  }

  footer {
    justify-content: flex-end;
  }
}
