<section [ngClass]="customClass" class="project-item">
  <div class="project-content">
    <header>
      <span>Projeto em destaque</span>
      <h3>{{ project().title }}</h3>
    </header>
    <article>{{ project().description }} </article>
    <div class="techs">
      @for(tech of techsInProject(); track tech) {
      <a [href]="tech.link" target="_blank"
        ><img
          [src]="tech.image"
          [class]="{
            'dark': tech.isDarkImage,
          }"
          width="22"
          height="22"
          alt="tech"
      /></a>

      }
    </div>

    <footer>
      <a [href]="project().github" target="_blank">
        <img width="20" height="20" src="./assets/github.svg" alt="github" />
      </a>
      <a [href]="project().demo" target="_blank">
        <img width="23" height="23" src="./assets/external-link.svg" alt="Ir" />
      </a>
    </footer>
  </div>
  <div class="project-image">
    <div class="image-container">
      <img
        [ngSrc]="project().picture"
        width="636.183"
        height="441.233"
        alt="project-example"
      />
      <div class="background-blur"></div>
    </div>
  </div>
</section>
